.hide(ng-joy-ride='startJoyRide', config='config', on-finish='onFinish()', on-skip='onFinish()')
.jumbotron.text-center
	input(type="hidden" ng-init="setUsername(" + userToGet + ")")

	h1 {{username}}'s Achievements
	h3(ng-show="brackets_opened") Brackets are not yet closed. Look at the achievements and anticipate winning them all!
	h3(ng-show="!brackets_opened") {{flavorText()}}
	div(class="btn-group" dropdown ng-show="!brackets_opened")
		div.your-achievements(ng-show="!brackets_opened") Total Achievements: {{totalAchievementsOwned}}
		button(type="button" class="btn btn-primary dropdown-toggle see-another-achievement" dropdown-toggle) See another player's achievements?
		ul(class="dropdown-menu" role="menu")
			li(ng-repeat="u in users")
				a(href="/achievements/{{u.name}}", ng-class="{'active-player': u.name==username}") {{u.name}}
					span(ng-if='u.name==username') - ACTIVE


	div.container#anchortop
		div
			ul(class="achievements-sidebar")
				li(bs-scrollspy data-target="#reg-achievements")
					a(ng-click="scrollTo('reg-achievements')") {{regular_achievements}} Regular Achievements
				li(bs-scrollspy data-target="#box-achievements")
					a(ng-click="scrollTo('box-achievements')") {{box_achievements}} Box Achievements
				li(bs-scrollspy data-target="#res-achievements")
					a(ng-click="scrollTo('res-achievements')") {{res_Achievements}} Resistance Achievements
				li(bs-scrollspy data-target="#ts-achievements")
					a(ng-click="scrollTo('ts-achievements')") {{ts_achievements}} Taylor Swift Achievements
		div.row.achievement-header.reg-achievement-header
			div.col-xs-12(id='reg-achievements') Regular Achievements ({{regular_achievements}}/20)
		//
			regularAchievements has the most achievements, don't ask how I know this.
		div.row(ng-repeat="(i, regAchievement) in regularAchievements")
			div.col-xs-12(ng-class="{'owned-achievement': ownAchievement(regAchievement)}")
				achievement-image(initial-path="regularAchievements/{{i}}", owned="{{ownAchievement(regAchievement)}}")
				achievement-text(achievement-name="{{regAchievement}}", achievement-desc="{{getDescription(i, 'reg')}}")
		div.row.achievement-header
			div.col-xs-12(id='box-achievements') The Box Achievements ({{box_achievements}}/14)
		div.row(ng-repeat="(i, boxAchievement) in boxAchievements")
			div.col-xs-12(ng-class="{'owned-achievement': ownAchievement(boxAchievement)}")
				achievement-image(initial-path="boxAchievements/{{i}}", owned="{{ownAchievement(boxAchievement)}}" ng-if="boxAchievement !== undefined")
				achievement-text(achievement-name="{{boxAchievement}}", achievement-desc="{{getDescription(i, 'box')}}" ng-if="boxAchievement !== undefined")
		div.row.achievement-header
			div.col-xs-12(id='res-achievements') Resistance Achievements ({{res_Achievements}}/11)
		div.row(ng-repeat="(i, resAchievement) in resistanceAchievements")
			div.col-xs-12(ng-class="{'owned-achievement': ownAchievement(resAchievement), 'joyride-1': resAchievement == 'Merlin', 'owned-achievement-merlin': merlin_unlocked && resAchievement == 'Merlin' }")
				div(class="achieveImgHolder", ng-show="merlin_unlocked && resAchievement == 'Merlin'")
					img(width="57" height="88" border="0" class="resistance-img" src="/img/achievements/resistanceAchievements/0.png", ng-show="merlin_unlocked && resAchievement == 'Merlin'")
				achievement-image(class="resistance-img" initial-path="resistanceAchievements/{{i}}", owned="{{ownAchievement(resAchievement)}}", ng-if="resAchievement !== undefined", ng-hide="merlin_unlocked && resAchievement == 'Merlin'")
				achievement-text(class="resistance-txt" achievement-name="{{resAchievement}}", achievement-desc="{{getDescription(i, 'res')}}")
		div.row.achievement-header
			div.col-xs-12(id='ts-achievements') Taylor Swift Achievements ({{ts_achievements}}/9)
		div.row(ng-repeat="(i, tsAchievement) in tsAchievements")
			div.col-xs-12(ng-class="{'owned-achievement': ownAchievement(tsAchievement)}")
				achievement-image(initial-path="tsAchievements/{{i}}", owned="{{ownAchievement(tsAchievement)}}" ng-if="tsAchievement !== undefined")
				achievement-text(achievement-name="{{tsAchievement}}", achievement-desc="{{getDescription(i, 'ts')}}")
link(rel='stylesheet', href='/css/achievements.css')