.hide(ng-joy-ride='startJoyRide', config='config', on-finish='onFinish()', on-skip='onFinish()')
.jumbotron.text-center
	h1 THE BOX
	span(ng-show="!brackets_opened")
		h3 {{flavorText()}}
	h3(ng-show="brackets_opened") Brackets are not yet closed. This is a demo box.
	h4(ng-show="brackets_opened") Your real box will be posted when brackets close.
	br
	br
	div.container(ng-init="init")
		.the-box
			.mytable
				.myrow
					.big-spacer-cell.left-cell &nbsp
					.empty-cell.right-cell#winning-cols
						.mytable
							div(ng-repeat="(index1, row) in winning_team", class="winning-rows myrow")
								div(id="winning-team-row-{{index1}}" class="number-cell")
									span(ng-class="{'joyridecustom1': 0 == first_coords[1] && index1==5, 'joyridecustom4': 0 == first_coords[1] && index1==4}") {{row[0]}}
								div(ng-repeat="(index2, cell) in row" ng-if="index2 > 0" class="number-cell winning-numbers")
									span(ng-class="{'joyridecustom1': index2 == first_coords[1] && index1==5, 'joyridecustom4': index2 == first_coords[1] && index1==4}") {{cell}}
				.myrow#losing-rows
					.empty-cell.left-cell
						.mytable#losing-table
							div(class="losing-cols myrow")
								div(ng-repeat="(index1, cell) in losing_team" id="losing-team-col-{{index1}}", class="number-cell losing-numbers")
									span(ng-class="{'joyridecustom2': 0 == first_coords[0] && index1==5, 'joyridecustom5': 0 == first_coords[0] && index1==4}") {{cell[0]}}
							div(ng-repeat="i in [1,2,3,4,5,6,7,8,9]", class="losing-cols myrow")
								div(ng-repeat="(index1, cell) in losing_team", class="number-cell losing-numbers")
									span(ng-class="{'joyridecustom2': i == first_coords[0] && index1==5, 'joyridecustom5': i == first_coords[0] && index1==4}") {{cell[i]}}
					.empty-cell.right-cell
						.mytable
							div(ng-repeat="i in [0,1,2,3,4,5,6,7,8,9]", class="losing-cols myrow")
								div(ng-repeat="p in players[i] track by $index", ng-class="{'you': p == myName, 'none-box': p == 'None', 'mr-long-name-Kawin-Rattanakorn': p == 'Kawin Rattanakorn'}", class="number-cell player-cell")
									span( ng-class="{'joyridecustom3': i == first_coords[0] && $index == first_coords[1]}") {{p}}
		center-me(id="losing-team-label", my-parent='losing-rows', loaded = 'loaded', vertical='true', padding='8') Losing Team
		center-me(id="winning-team-label", my-parent='winning-cols', loaded = 'loaded', vertical='false', padding='8') Winning Team
		draw-line(ng-repeat="i in [0,1,2,3,4,5]" from="winning-team-row-{{$index}}" to="losing-team-col-{{$index}}", loaded = 'loaded') {{6-$index}}
		hr
		span(ng-show="!brackets_opened") Your Scores
		table(class="your_scores table table-condensed table-striped table-bordered", ng-show="!brackets_opened")
			thead
				tr
					th Round
					th Winning Team
					th Losing Team
					th Points
			tbody
				tr(ng-repeat="game in box_scoreboard[myName]")
					td {{game.round}}
					td {{game.winning_team}}
						br
						|{{game.winning_score}}
					td {{game.losing_team}}
						br
						|{{game.losing_score}}
					td {{getFib(game.round)}}
		hr

		form
			input(type="radio" ng-model="show_scores_type" value="by_player")
			|Show Scores by Player and then Round?
			br
			input(type="radio" ng-model="show_scores_type" value="by_round")
			|Show Scores by Round and then Player?
		div.box-scoreboard(ng-show="!brackets_opened && show_scores_type == 'by_player'" ) ALL SCORES BY PLAYER AND THEN ROUND
			div.row
				div.col-xs-6
					div.row
						div.col-xs-2 Round
						div.col-xs-4 Winning Team
						div.col-xs-4 Losing Team
						div.col-xs-2 Points
					div.row(ng-repeat="(i, p) in box_scoreboard_by_player_and_then_round_player_order")
						div(class="round-then-player-round main-col round-then-player-player-name-{{$index%2}}") {{p}}
							div.row(class="players-wins", ng-repeat="(k, game) in box_scoreboard[p]", ng-class="{'your-win': game.player == myName}")
								div.col-xs-2 {{game.round}}
								div.col-xs-4 {{game.winning_team}}
									br
									|{{game.winning_score}}
								div.col-xs-4 {{game.losing_team}}
									br
									|{{game.losing_score}}
								div.col-xs-2 {{getFib(game.round)}}
				div.col-xs-6
					div.row
						div.col-xs-2 Round
						div.col-xs-4 Winning Team
						div.col-xs-4 Losing Team
						div.col-xs-2 Points
					div.row(ng-repeat="(i, p) in box_scoreboard_by_player_and_then_round_player_order_second_half")
						div(class="round-then-player-round main-col round-then-player-player-name-{{$index%2}}") {{p}}
							div.row(class="players-wins", ng-repeat="(k, game) in box_scoreboard[p]", ng-class="{'your-win': game.player == myName}")
								div.col-xs-2 {{game.round}}
								div.col-xs-4 {{game.winning_team}}
									br
									|{{game.winning_score}}
								div.col-xs-4 {{game.losing_team}}
									br
									|{{game.losing_score}}
								div.col-xs-2 {{getFib(game.round)}}

		div.box-scoreboard(ng-show="!brackets_opened && show_scores_type == 'by_round'" ) ALL SCORES BY ROUND AND THEN PLAYER

			div.row
				div.col-xs-6(class="round-then-player-round main-col") round 1
					div.row
						div.col-xs-2 Round
						div.col-xs-4 Winning Team
						div.col-xs-4 Losing Team
						div.col-xs-2 Points
					div.row(ng-if="box_scoreboard_by_round_and_then_player_player_order[1].length == 0")
						div.col-xs-12 NONE
					div.row.all-scores-row(ng-repeat="(j, u) in box_scoreboard_by_round_and_then_player_player_order[1]")
						div.col-xs-12(class="round-then-player-player-name-{{$index%2}}") {{u}}
							div.row(class="players-wins", ng-repeat="(k, game) in box_scoreboard_by_round_and_then_player[1][u]", ng-class="{'your-win': game.player == myName}")
								div.col-xs-2 {{game.round}}
								div.col-xs-4 {{game.winning_team}}
									br
									|{{game.winning_score}}
								div.col-xs-4 {{game.losing_team}}
									br
									|{{game.losing_score}}
								div.col-xs-2 {{getFib(game.round)}}
				div.col-xs-6(class="round-then-player-round main-col") round 2
					div.row
						div.col-xs-2 Round
						div.col-xs-4 Winning Team
						div.col-xs-4 Losing Team
						div.col-xs-2 Points
					div.row(ng-if="box_scoreboard_by_round_and_then_player_player_order[2].length == 0")
						div.col-xs-12 NONE
					div.row.all-scores-row(ng-repeat="(j, u) in box_scoreboard_by_round_and_then_player_player_order[2]")
						div.col-xs-12(class="round-then-player-player-name-{{$index%2}}") {{u}}
							div.row(ng-repeat="(k, game) in box_scoreboard_by_round_and_then_player[2][u]", ng-class="{'your-win': game.player == myName}")
								div.col-xs-2 {{game.round}}
								div.col-xs-4 {{game.winning_team}}
									br
									|{{game.winning_score}}
								div.col-xs-4 {{game.losing_team}}
									br
									|{{game.losing_score}}
								div.col-xs-2 {{getFib(game.round)}}
					div(ng-repeat="i in [3,4,5,6]")
						div.row
							div.col-xs-12(class="round-then-player-round") round {{i}}
						div.row(ng-if="box_scoreboard_by_round_and_then_player_player_order[i].length == 0")
							div.col-xs-12 NONE
						div.row.all-scores-row(ng-repeat="(j, u) in box_scoreboard_by_round_and_then_player_player_order[i]")
							div.col-xs-12(class="round-then-player-player-name-{{$index%2}}") {{u}}
								div.row(ng-repeat="(k, game) in box_scoreboard_by_round_and_then_player[i][u]", ng-class="{'your-win': game.player == myName}")
									div.col-xs-2 {{game.round}}
									div.col-xs-4 {{game.winning_team}}
										br
										|{{game.winning_score}}
									div.col-xs-4 {{game.losing_team}}
										br
										|{{game.losing_score}}
									div.col-xs-2 {{getFib(game.round)}}


link(rel='stylesheet', href='/css/box-angular.css')
