.hide(ng-joy-ride='startJoyRide', config='config', on-finish='onFinish()', on-skip='onFinish()')
.jumbotron.text-center
	h1 Nerds and Proud
	p {{tagline}}
	div.container(ng-init="init")
		.the-box
			.mytable
				.myrow
					.big-spacer-cell big spacer
					.empty-cell#winning-cols
						.mytable
							div(ng-repeat="row in winning_team", class="winning-rows myrow")
								div(id="winning-team-row-{{$index}}" class="number-cell")
									span(ng-if="($index == 5)", class="joyridecustom1") {{row[0]}}
									span(ng-if="($index == 4)", class="joyridecustom4") {{row[0]}}
									span(ng-if="($index != 5 && $index != 4)") {{row[0]}}
								div(ng-repeat="cell in row" ng-if="$index > 0" class="number-cell winning-numbers") {{cell}}
				.myrow#losing-rows
					.empty-cell
						.mytable#losing-table
							div(class="losing-cols myrow")
								div(ng-repeat="cell in losing_team" id="losing-team-col-{{$index}}", class="number-cell losing-numbers")
									span(ng-if="($index == 5)", class="joyridecustom2") {{cell[0]}}
									span(ng-if="($index != 5)") {{cell[0]}}
							div(ng-repeat="i in [1,2,3,4,5,6,7,8,9]", class="losing-cols myrow")
								div(ng-repeat="cell in losing_team", class="number-cell losing-numbers") {{cell[i]}}
					.empty-cell
						.mytable
							div(ng-repeat="i in [0,1,2,3,4,5,6,7,8,9]", class="losing-cols myrow")
								div(ng-repeat="p in players[i] track by $index", ng-class="{'you': '{{p}}'=='Luke'}", class="number-cell player-cell")
									span(ng-if="(i == 0 &&  $index == 0)", class="joyridecustom3") {{p}}
									span(ng-if="(i != 0 ||  $index != 0)") {{p}}
		center-me(id="losing-team-label", my-parent='losing-rows', loaded = 'loaded', vertical='true', padding='8') Losing Team
		center-me(id="winning-team-label", my-parent='winning-cols', loaded = 'loaded', vertical='false', padding='8') Winning Team
		draw-line(ng-repeat="i in [0,1,2,3,4,5]" from="winning-team-row-{{$index}}" to="losing-team-col-{{$index}}", loaded = 'loaded') {{6-$index}}


link(rel='stylesheet', href='/css/box-angular.css')
