.jumbotron.text-center
	h1 Geek City

	div.container
		div(class="championship-bracket")
			div.row
				div.col-xs-2.spacer spacer
				div.col-xs-8.final-four#champion(ng-class="{'chosen-champion': getChampion(4) != null}") {{getChampion(4)}} {{getChampion(4) != null}}
				div.col-xs-2.spacer spacer
			div.row
				div.col-xs-1.spacer spacer
				div.col-xs-3.final-four#finals-1(ng-class="{'team-selectable': canClick(4,1, 0, 1), 'team-chosen-to-lose':  choseToLose(4,1, 0, 2) } " ng-click="moveTop(4,1,0, 1)") {{getTeamName(4, 1, 0, 1)}}
				div.col-xs-4.spacer spacer
				div.col-xs-3.final-four#finals-2(ng-class="{'team-selectable': canClick(4,1, 0, 2), 'team-chosen-to-lose':  choseToLose(4,1, 0, 2) } " ng-click="moveTop(4,1,0, 2)") {{getTeamName(4, 1, 0, 2)}}
				div.col-xs-1.spacer spacer
			div.row
				div.col-xs-2.final-four#region-1-winner(ng-class="{'team-selectable': canClick(4,2,0,1), 'team-chosen-to-lose':  choseToLose(4,2,0, 1) } " ng-click="moveTop(4,2,0,1)") {{getTeamName(4,2,0, 1)}}
				div.col-xs-1.spacer spacer
				div.col-xs-2.final-four#region-3-winner(ng-class="{'team-selectable': canClick(4,2,0,2), 'team-chosen-to-lose':  choseToLose(4,2,0, 2) } " ng-click="moveTop(4,2,0,2)") {{getTeamName(4,2,0, 2)}}
				div.col-xs-2.spacer spacer
				div.col-xs-2.final-four#region-2-winner(ng-class="{'team-selectable': canClick(4,2,1, 1), 'team-chosen-to-lose':  choseToLose(4,2,1,1) } " ng-click="moveTop(4,2,1,1)") {{getTeamName(4,2,1, 1)}}
				div.col-xs-1.spacer spacer
				div.col-xs-2.final-four#region-4-winner(ng-class="{'team-selectable': canClick(4,2,1,2), 'team-chosen-to-lose':  choseToLose(4,2,1,2) } " ng-click="moveTop(4,2,1,2)") {{getTeamName(4,2,1, 2)}}
		div(ng-repeat="k in [0,1,2,3]")
			div(ng-if="k==2", class="buffer")
			div(class="region region-{{$index}}")
				div(ng-repeat="i in [0,1,2,3]" class="round round-{{$index}}")
					div(ng-repeat="j in matchupCount($index) track by $index" class="matchup matchup-{{$index}}")
						//starts with 2^i and then goes to 2^(i+1)-1 but in reverse; the 1 in the function is whether it is first team or second team
						div.firstTeam(style='height: {{getNewHeight($parent.$index)}}px;', ng-click="moveTop(k,(4-$parent.$index), $index, 1)")
							div(class = "team", ng-class="{'team-selectable': canClick(k,(4-$parent.$index), $index, 1), 'team-chosen-to-lose':  choseToLose(k,(4-$parent.$index), $index, 1)  } ") {{getTeamName(k, (4-$parent.$index), $index, 1)}}
						div(class="firstSpacer" ng-class="{'firstSpacer-right': ($parent.$parent.$index%2==1), 'firstSpacer-left': ($parent.$parent.$index%2==0)}", style = "height: {{getNewHeight($parent.$index)}}px;")
						div(class="secondTeam" ng-class="{'secondTeam-right': ($parent.$parent.$index%2==1), 'secondTeam-left': ($parent.$parent.$index%2==0)}", style='height: {{getNewHeight($parent.$index)}}px;', ng-click="moveTop(k,(4-$parent.$index), $index, 2)")
							div(class = "team", ng-class="{'team-selectable': canClick(k,(4-$parent.$index), $index, 2), 'team-chosen-to-lose':  choseToLose(k,(4-$parent.$index), $index, 2) } ") {{getTeamName(k, (4-$parent.$index), $index, 2)}}
						div(class="secondSpacer", style = "height: {{getNewHeight($parent.$index)}}px;")
		div(tour)
			div(tour-step order="0" title="Main Menu" content = "Hi" placement = "bottom") Hi
			button(ng-click="tour.restart(true)") start

		//
			-for (var i = 0; i < 4; i++)  //-four rounds
			div(class="round round-" + (i+1))
				-for (var j = 0; j < (8/Math.pow(2,i)); j++)  //-0:8, 1:4, 2:2, 3:1
				div(class="matchup matchup-" + (j+1))
					.firstTeam(style='height:'+base_height*(Math.pow(2,i))+'px;')
						-var div_class = i == 0 ? "team team-selectable" :  "team";
						div(class =div_class, ng-click="select($event, {round:"+(i+1)+",matchup:"+(j+1)+", region:" + (k+1 )+ ",team: 1})",id="team-1-region-" + (k+1)+"-round-"+(i+1)+"-matchup-"+(j+1))
							-if(i==0)
								=teams[2*j]
					-var firstSpacerClass = onRight ? 'firstSpacer-right' : 'firstSpacer-left';
					-var secondTeamClass = onRight ? 'secondTeam-right' : 'secondTeam-left';
					div(class = "firstSpacer " + firstSpacerClass, style='height:'+base_height*(Math.pow(2,i))+'px;')  
					div(class= "secondTeam " + secondTeamClass, style='height:'+base_height*(Math.pow(2,i))+'px;')
						-var div_class = i == 0 ? "team team-selectable" :  "team";
						div(class =div_class, ng-click="select($event, {round:"+(i+1)+",matchup:"+(j+1)+", region:" + (k+1 )+", team: 2})",id="team-2-region-" + (k+1) +"-round-"+(i+1)+"-matchup-"+(j+1))
							-if(i==0)
							=teams[2*j+1]
					.secondSpacer(style='height:'+base_height*(Math.pow(2,i))+'px;')
p {{data}}
link(rel='stylesheet', href='/css/bracket.css')