.hide(ng-joy-ride='startJoyRide', config='config', on-finish='onFinish()', on-skip='onFinish()')
.jumbotron.text-center
	h1 THE BRACKET
		if opened
			| &nbspIS OPENED
		else
			| &nbspIS CLOSED
	div.pickCounter(ng-show="doneWithTutorial || showPickCounter") {{pickCountTotal()['Completed Picks']}}/{{pickCountTotal()['Total Picks']}}
	.btn-group(role='group')
		button.btn.btn-default(type='button', id="shuffle-button" ng-click=(opened?"randomizePicks()":undefined) ng-show = "doneWithTutorial || showShuffle" , disabled=!opened)
			span.glyphicon.glyphicon-random
		button.btn.btn-default(type='button', id="clear-bracket-button" ng-click=(opened?"clearBracket()":undefined) ng-show = "doneWithTutorial || showErase" , disabled=!opened)
			span.glyphicon.glyphicon-erase
		button.btn.btn-default.dropdown-toggle(type='button', dropdown-toggle , data-toggle='dropdown', id="show-options-dropdown", ng-show = "doneWithTutorial || showColors" dropdown is-open="status.isopen")
			span(class="fa fa-eye")
			span(class="caret")
		ul.dropdown-menu(role='menu' ng-click="$event.stopPropagation()")
			li
				span(class="rainbow octicon octicon-paintcan", style="padding: 6px 12px;")
				input(type="checkbox" ng-model="toggleColors")
				|Show Colors
			li
				span(class="fa fa-paw" , style="padding: 6px 12px;")
				input(type="checkbox" ng-model="toggleMascots")
				|Show Mascots

	div.container
		if opened
			button(type="submit" class="btn btn-primary save-button", ng-if="changedBracket()", ng-click="saveChanges()") Save changes
		div(class="final-score", ng-show="getTeamName(4, 1, 0, 1) != null && getTeamName(4, 1, 0, 2) != null")
			div(class="team-names")
				div(class="finals-1-team finals-team") {{getTeamName(4, 1, 0, 1)}}
				div(class="finals-2-team finals-team") {{getTeamName(4, 1, 0, 2)}}
			div(class="projected-score")
				input(ng-model="finals_1_projected_score", name="finals-1-proj-score", class="projected-score", disabled=!opened)
				input(ng-model="finals_2_projected_score", name="finals-2-proj-score", class="projected-score", disabled=!opened)
		div(class="championship-bracket")
			div.row
				div.col-xs-2.spacer spacer
				div.col-xs-8.final-four#champion(ng-class="{'chosen-champion': getChampion(4) != null}")
					span(ng-if="toggleColors && getChampionColor() !== '' && getChampion(4) !== null", class="glyphicon glyphicon-tag", ng-style="{'color': getChampionColor()}")
					span(ng-if="toggleMascots && getChampionMascot() !== '' && getChampion(4) !== null", class="icon-{{getChampionMascot()}}", ng-style="{'color': getChampionMascot()}")
					| {{getChampion(4)}}
				div.col-xs-2.spacer spacer
			div.row(id="finals-match")
				div.col-xs-1.spacer spacer
				div(ng-repeat="i in [1,2]")
					div.col-xs-3.final-four(id="finals-{{i}}", ng-class="{'team-selectable': canClick(4,1,0,i), 'team-chosen-to-lose':  choseToLose(4,1,0,i) } ", ng-click=(opened?"moveTop(4,1,0,i)":undefined))
						span(ng-if="toggleColors && getTeamColor(4, 1, 0, i) !== '' && getTeam(4, 1, 0, i) !== null", class="glyphicon glyphicon-tag", ng-style="{'color': getTeamColor(4, 1, 0, i)}")
						span(ng-if="toggleMascots && getTeamMascot(4, 1, 0, i) !== '' && getTeam(4, 1, 0, i) !== null", class="icon-{{getTeamMascot(4, 1, 0, i)}}")
						|{{getTeamName(4, 1, 0, i)}}
					div.col-xs-4.spacer(ng-if="i==1") spacer
				div.col-xs-1.spacer spacer

			div.row
				div(ng-repeat="i in [1,3,2,4]")
					div.col-xs-2.final-four(id="region-{{i}}-winner", ng-class="{'team-selectable': canClick(4,2,(i+1)%2,round(i/2)), 'team-chosen-to-lose':  choseToLose(4,2,(i+1)%2, round(i/2)) } ", ng-click=(opened?"moveTop(4,2,(i+1)%2,round(i/2))":undefined))
						span(ng-if="toggleColors && getTeamColor(4,2,(i+1)%2, round(i/2)) !== '' && getTeam(4,2,(i+1)%2, round(i/2)) !== null", class="glyphicon glyphicon-tag", ng-style="{'color': getTeamColor(4, 2, (i+1)%2, round(i/2))}")
						span(ng-if="toggleMascots && getTeamMascot(4,2,(i+1)%2, round(i/2)) !== '' && getTeam(4,2,(i+1)%2, round(i/2)) !== null", class="icon-{{getTeamMascot(4,2,(i+1)%2, round(i/2))}}")
						|{{getTeamName(4,2,(i+1)%2, round(i/2))}}
					div.col-xs-1.spacer(ng-if="i<3") spacer
					div.col-xs-2.spacer(ng-if="i==3") spacer
		div.teams
			div(ng-repeat="k in [0,1,2,3]")
				div(ng-if="k==2", class="buffer")
				div(class="region region-{{$index}}")
					div(ng-repeat="i in [0,1,2,3]" class="round round-{{$index}}")
						div(ng-repeat="j in matchupCount($index) track by $index", class="matchup matchup-{{$index}}", ng-class="{'joyridecustom1': (k == 0 && i == 0 && $index == 0), 'joyridecustom2': (k == 0 && i == 1 && $index == 0), 'joyridecustom3': (k == 0 && i == 3 && $index == 0)}")
							//starts with 2^i and then goes to 2^(i+1)-1 but in reverse; the 1 in the function is whether it is first team or second team
							div.firstTeam(style='height: {{getNewHeight($parent.$index)}}px;', ng-click=(opened?"moveTop(k,(4-$parent.$index), $index, 1)":undefined))
								div(class = "team", ng-class="{'team-selectable': canClick(k,(4-$parent.$index), $index, 1), 'team-chosen-to-lose':  choseToLose(k,(4-$parent.$index), $index, 1), 'region-{{k}}-champ-in-region-round': getTeamName(k, (4-$parent.$index), $index, 1)==getTeamName(k, 0, 0, 0,1) && (4-$parent.$index)==1 } ")
									span(ng-if="toggleColors && getTeamColor(k, (4-i), $index, 1) !== '' && getTeam(k, (4-i), $index, 1) !== null ", class="glyphicon glyphicon-tag", ng-style="{'color': getTeamColor(k, (4-i), $index, 1)}")
									span(ng-if="toggleMascots && getTeamMascot(k, (4-i), $index, 1) !== '' && getTeam(k, (4-i), $index, 1) !== null", class="icon-{{getTeamMascot(k, (4-i), $index, 1)}}")
									|{{getTeamName(k, (4-$parent.$index), $index, 1)}}
							div(class="firstSpacer", ng-class="{'firstSpacer-right': ($parent.$parent.$index%2==1), 'firstSpacer-left': ($parent.$parent.$index%2==0)}", style = "height: {{getNewHeight($parent.$index)}}px;")
							div(class="secondTeam", ng-class="{'secondTeam-right': ($parent.$parent.$index%2==1), 'secondTeam-left': ($parent.$parent.$index%2==0)}", style='height: {{getNewHeight($parent.$index)}}px;', ng-click=(opened?"moveTop(k,(4-$parent.$index), $index, 2)":undefined))
								div(class = "team", ng-class="{'team-selectable': canClick(k,(4-$parent.$index), $index, 2), 'team-chosen-to-lose':  choseToLose(k,(4-$parent.$index), $index, 2), 'region-{{k}}-champ-in-region-round': getTeamName(k, (4-$parent.$index), $index, 2)==getTeamName(k, 0, 0, 0,1)&& (4-$parent.$index)==1 } ")
									span(ng-if="toggleColors  && getTeamColor(k, (4-i), $index, 2) !== '' && getTeam(k, (4-i), $index, 2) !== null ", class="glyphicon glyphicon-tag", ng-style="{'color': getTeamColor(k, (4-i), $index, 2)}")
									span(ng-if="toggleMascots && getTeamMascot(k, (4-i), $index, 2) !== '' && getTeam(k, (4-i), $index, 2) !== null", class="icon-{{getTeamMascot(k, (4-i), $index, 2)}}")
									|{{getTeamName(k, (4-$parent.$index), $index, 2)}}
							div(class="secondSpacer", style = "height: {{getNewHeight($parent.$index)}}px;")
link(rel='stylesheet', href='/css/bracket.css')