.hide(ng-joy-ride='startJoyRide', config='config', on-finish='onFinish()', on-skip='onFinish()')
div.container
	div.page-header#brackets-opened-tag
		h1 THE BRACKET
			span(ng-show="brackets_opened") &nbspIS OPENED
			span(ng-show="!brackets_opened") &nbspIS CLOSED
			br
			small(ng-show="brackets_opened") Go make your picks!
			small(ng-show="!brackets_opened") Good luck!! Go&nbsp
				a(href='/bracket-official') here
				| &nbspto see the official bracket and everyone's picks!
	table.table.table-striped.table-bordered( id='money-board')
		caption(class="text-center")
			|THE MONEYBOARD
			br
			|See who is in the lead to win money
			br
			|Blue is current leader, red is final leader

		thead
			tr
				th#money-category Category
				th Amount
				th#player-category Player[s]
				th#value-category Value
				th Info
		tbody
			tr(ng-repeat='row in moneyBoard' ng-class="{'final-moneyboard-row': row.final, 'moneyboard-row': !row.final, 'first-place': row.category == 'First Place'}")
				td(data-container="body" tooltip-placement="left" tooltip="{{getMoneyDesc($index)}}" tooltip-append-to-body="true") {{row.category}}
				td {{row.amount}}
				td(ng-if="brackets_opened" colspan=3) Will appear once brackets are closed
				td(ng-if="!brackets_opened" ng-bind-html="makeNice(row.player)")
				td(ng-if="!brackets_opened") {{getValue(row)}}
				td(ng-if="!brackets_opened" ng-bind-html="row.info")
	table.table.table-striped.table-bordered(st-table='displayedCollection', id='leader-board' st-safe-src="scoreboard" )
		caption(class="text-center") THE SCOREBOARD
			br
			|See who is in the lead
		thead
			tr
				th(st-sort="rank") Rank
				th(st-sort="name") Name
				div(class='round-scores')
					th(ng-repeat='(round, round_name) in tournamentRounds' st-sort="getters.round_score_{{round}}" class="round-{{round}}-scores")
						|{{round_name}}
						br
						ng-pluralize(count='{{Math.pow(2,round)}}' when="{'one': '({} point)', 'other': '({} points)'}")
				th(st-sort="total_score") Total Score
				th(st-sort="achievements" class="achievements_col") Total Achievements
				th(st-sort="points_remaining") Possible Points Remaining
		tbody
			tr(ng-repeat='row in displayedCollection')
				td {{row.rank}}
				td
					a(href="/bracket-angular/{{row.name}}" ng-if="!brackets_opened") {{row.name}}
					span(ng-if="brackets_opened") {{row.name}}
				td(ng-repeat='(round, round_name) in tournamentRounds' ng-if="!brackets_opened" )
					|{{row["round_score"][round_name]}}
				td(ng-if="!brackets_opened") {{row.score}}
				td(ng-if="!brackets_opened") {{row.achievements}}
				td(ng-if="!brackets_opened") {{row.points_remaining}}
				td(colspan=9, ng-if="brackets_opened" )
					|Will appear once brackets are closed




link(rel='stylesheet', href='/css/home.css')