.container
	// shamlessly stolen from http://bootsnipp.com/snippets/featured/login-amp-signup-forms-in-panel
	#loginbox.mainbox.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2(style='margin-top:50px;' ng-hide="showme")
		.panel.panel-info
			.panel-heading
				.panel-title Sign In
				div(style='float:right; font-size: 80%; position: relative; top:-10px')
					a(href='#') Forgot password?
			.panel-body(style='padding-top:30px')
				#login-alert
				form#loginform.form-horizontal(role='form')
					.input-group(style='margin-bottom: 25px')
						span.input-group-addon
							i.glyphicon.glyphicon-user
						input#login-username.form-control(type='text', name='username', value='', placeholder='Username', ng-model="user.username")
					.input-group(style='margin-bottom: 25px')
						span.input-group-addon
							i.glyphicon.glyphicon-lock
						input#login-password.form-control(type='password', name='password', placeholder='password', ng-model="user.password")
					.form-group(style='margin-top:10px')
						// Button
						.col-sm-12.controls
							a#btn-login.btn.btn-success(href='#' ng-click="logIn(user.username, user.password)") Login
					.form-group
						.col-md-12.control
							div(style='border-top: 1px solid#888; padding-top:15px; font-size:85%')
								| Don't have an account!&nbsp
								a(href='', ng-click="showme=true")
									| Sign Up Here
	#signupbox.mainbox.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2(style='margin-top:50px' ng-show="showme")
		.panel.panel-info
			.panel-heading
				.panel-title Sign Up
				div(style='float:right; font-size: 85%; position: relative; top:-10px')
					a#signinlink(href='', ng-click="showme=false") Sign In
			.panel-body
				form#signupform.form-horizontal(role='form')
					#signupalert.alert.alert-danger(style='display:none')
						p Error:
						span
					.form-group
						label.col-md-3.control-label(for='username') Username
						.col-md-9
							input.form-control(type='text', name='username', placeholder='Username', ng-model="register.username")
					.form-group
						label.col-md-3.control-label(for='email') Email
						.col-md-9
							input.form-control(type='text', name='email', placeholder='Email Address', ng-model="register.email")
					.form-group
						label.col-md-3.control-label(for='name') Full Name
						.col-md-9
							input.form-control(type='text', name='fullname', placeholder='Full Name', ng-model="register.fullname")
					.form-group
						// Button
						.col-md-offset-3.col-md-9
							button#btn-signup.btn.btn-info(type='button', ng-click="register(register.username, register.email, register.fullname)")
								i.icon-hand-right
								| Sign Up