- var players = [];
.jumbotron.text-center
	h1 Geek City
	p {{tagline}}
	div.container
		- for(var i = 0; i < 64; i++)
		- console.log(i);
		- players.push[i];
		- console.log(players);
		div.hi WRAT
			-console.log(players);