.hide(ng-joy-ride='startJoyRide', config='config', on-finish='onFinish()', on-skip='onFinish()')
div.container
	div.page-header
		div.prompt-minigame
			h1 WELCOME TO THE MINIGAME!!
		hr
		div Forgot your role?
		button(ng-click="showRole = !showRole", ng-show="!showRole") Show my role!
		button(ng-click="showRole = !showRole", ng-show="showRole") Hide my role!
		div.roleInfo(ng-show="showRole")
			|{{roleinfo}}
		hr
		div
			h3 CHARACTERS
			div.row
				div.col-xs-6 ONUW (One Night Ultimate Werewolf) Roles
					div.row
						div.col-xs-6 Blue Team
							div.row(ng-repeat="b in blues")
								div.col-xs-12(ng-click="showDescription(b)")
									span(class="blue-team", ng-class="{'is-me': showRole && b.name==myRoleName}") {{b.name}}
						div.col-xs-6 Red Team
							div.row(ng-repeat="r in reds")
								div.col-xs-12(ng-click="showDescription(r)")
									span(class="red-team") {{r.name}}
				div.col-xs-6 2R1B (2 Rooms 1 Boom) Roles
					div.row
						div.col-xs-6 Werewolf Team
							div.row(ng-repeat="w in werewolves")
								div.col-xs-12(ng-click="showDescription(w)")
									span(class="werewolf-team") {{w.name}}
						div.col-xs-6 Village Team
							div.row(ng-repeat="v in village")
								div.col-xs-12(ng-click="showDescription(v)")
									span(class="village-team") {{v.name}}
			br
			div.row
				div.col-xs-12 {{winDescription}}
			div.row
				div.col-xs-12
					img(src="{{selected.scoring_img_1}}")
					img(src="{{selected.scoring_img_2}}")
		hr
		div Forgot your special ability?
		button(ng-click="showAbility = !showAbility", ng-show="!showAbility") Show my role!
		button(ng-click="showAbility = !showAbility", ng-show="showAbility") Hide my role!
		div.roleInfo(ng-show="showAbility")
			|HSF
		hr
		div
			h3 ABILITIES
			div.row
				div.col-xs-2 Ability
				div.col-xs-10 Description
			br
			div.row
				div.col-xs-12 {{winDescription}}
		hr
		div The Minigame Scoreboard!
		hr
		div Ready to guess?
			div.row
				div.col-xs-6 Players
					div.row(ng-repeat="p in players")
						div.col-xs-12
							span {{p}}
							select(ng-model="guessed_players[p]", ng-change="guess(p, guessed_players[p])")
								option(value="None") None
								option(ng-repeat="r in allRoles", value = "{{r.name}}" ng-disabled = "alreadyGuessed(null, r.name)") {{r.name}}
				div.col-xs-6 Roles
					div.row(ng-repeat="b in blues")
						div.col-xs-12
							span(class="blue-team") {{b.name}}
							select(ng-model="guessed_roles[b.name]", ng-change="guess(guessed_roles[b.name], b.name)")
								option(value="None") None
								option(ng-repeat="p in players", value = "{{p}}" ng-disabled = "alreadyGuessed(p, null)") {{p}}
					div.row(ng-repeat="r in reds")
						div.col-xs-12
							span(class="red-team") {{r.name}}
							select(ng-model="guessed_roles[r.name]", ng-change="guess(guessed_roles[r.name],r.name)")
								option(value="None") None
								option(ng-repeat="p in players", value = "{{p}}" ng-disabled = "alreadyGuessed(p, null)") {{p}}
					div.row(ng-repeat="w in werewolves")
						div.col-xs-12
							span(class="werewolf-team") {{w.name}}
							select(ng-model="guessed_roles[w.name]", ng-change="guess(guessed_roles[w.name], w.name)")
								option(value="None") None
								option(ng-repeat="p in players", value = "{{p}}" ng-disabled = "alreadyGuessed(p, null)") {{p}}
					div.row(ng-repeat="v in village")
						div.col-xs-12
							span(class="village-team") {{v.name}}
							select(ng-model="guessed_roles[v.name]", ng-change="guess(guessed_roles[v.name], v.name)")
								option(value="None") None
								option(ng-repeat="p in players", value = "{{p}}" ng-disabled = "alreadyGuessed(p, null)") {{p}}
		button() Save Suspicions!
		button() Submit Guesses!

link(rel='stylesheet', href='/css/realminigame.css')