.hide(ng-joy-ride='startJoyRide', config='config', on-finish='onFinish()', on-skip='onFinish()')
div.container
	div.page-header
		div.prompt-minigame
			h1 WELCOME TO THE MINIGAME!!
			h4
				span
					a(href='#', ng-click='showTutorial()') (show tutorial?)
		hr
		div.your-char-section Forgot your role?
		button(ng-click="showRole = !showRole", ng-show="!showRole") Show my role!
		button(ng-click="showRole = !showRole", ng-show="showRole") Hide my role!
		div.roleInfo(ng-show="showRole")
			|{{roleinfo}}
		hr
		div.all-chars-section
			h3 CHARACTERS
			div.row
				div.col-xs-6 2R1B (2 Rooms 1 Boom) Roles
					div.row
						div.col-xs-6 Blue Team
							div.row(ng-repeat="b in blues")
								div.col-xs-12()
									span(class="blue-team team-choice", ng-class="{'is-me': showRole && b.name==myRoleName}" ng-click="showDescription(b)") {{b.name}}
						div.col-xs-6 Red Team
							div.row(ng-repeat="r in reds")
								div.col-xs-12()
									span(class="red-team team-choice" ng-click="showDescription(r)" ng-class="{'is-me': showRole && r.name==myRoleName}") {{r.name}}
				div.col-xs-6 ONUW (One Night Ultimate Werewolf) Roles
					div.row
						div.col-xs-6 Werewolf Team
							div.row(ng-repeat="w in werewolves")
								div.col-xs-12()
									span(class="werewolf-team team-choice" ng-click="showDescription(w)" , ng-class="{'is-me': showRole && w.name==myRoleName}") {{w.name}}
						div.col-xs-6 Village Team
							div.row(ng-repeat="v in village")
								div.col-xs-12()
									span(class="village-team team-choice" ng-click="showDescription(v)" , ng-class="{'is-me': showRole && v.name==myRoleName}") {{v.name}}
			br
			div.row
				div.col-xs-12 {{winDescription}}
			div.row
				div.col-xs-12
					img(src="{{selected.scoring_img_1}}")
					img(src="{{selected.scoring_img_2}}")
		hr
		div.your-ability Forgot your special ability?
		button(ng-click="showAbility = !showAbility", ng-show="!showAbility") Show my role!
		button(ng-click="showAbility = !showAbility", ng-show="showAbility") Hide my role!
		div.roleInfo(ng-show="showAbility")
			|{{myAbility}}
			div.use-ability(ng-if="possibleSelections>0") Please select who you want to use your ability on.
				div.row(ng-repeat="p in allPlayers")
					label
						input(value='{{p.name}}', type="checkbox", ng-checked="targets.indexOf(p.name) > -1", ng-click="toggleTargetted(p.name)", ng-disabled = "usedAbility || (targets.length == possibleSelections && targets.indexOf(p.name) == -1) || (cannotTargetSelf && p.name == me )|| (onlyTargetInactives && players.indexOf(p.name)>-1) || (onlyTargetPlayers && players.indexOf(p.name) == -1)")
						|{{p.name}}
				button(ng-click = "saveAbility()" ng-if="!seekerPower") Save your choice!
				button(ng-click = "submitAbility()" ng-if="seekerPower && !usedAbility && targets.length == possibleSelections" ) Use your ability on these people!
				div.abilityInfo(ng-if="usedAbility") {{abilityInfo}}
		hr
		div.all-abilities
			h3
			table(class="table table-condensed table-striped table-bordered")
				thead ABILITIES
					tr
						th.all-abilities-2 Priority
							span(class="glyphicon glyphicon-question-sign" tooltip="When the tournament is finished, the abilities will be used in the order given here.  The abilities will be used on whoever the person with the ability currently has selected, so select your target as soon as you can!")
						th  Ability
						th  Description
				tbody
					tr(ng-repeat="a in abilityList")
						td {{a.priority}}
						td {{a.name}}
						td {{a.desc}}
		hr
		div.scoreboard-section The Minigame Scoreboard!
			table.table.table-striped.table-bordered(st-table='displayedCollection', id='leader-board' st-safe-src="miniGameScoreboard" )
				caption(class="text-center") THE SCOREBOARD
					br
					|See who is in the lead
				thead
					tr
						th(st-sort="rank") Rank
						th(st-sort="name") Name
						th(st-sort="total_score") Total Score
						th(st-sort="achievements" class="achievements_col") Total Achievements
				tbody
					tr(ng-repeat='row in displayedCollection' ng-class="{'not-playing': notPlaying(row.name)}")
						td {{row.rank}}
						td
							a(href="/bracket-angular/{{row.name}}") {{row.name}}
							span(ng-if="notPlaying(row.name)") ---- NOT PLAYING ----
						td {{row.score}}
						td
							a(href="/achievements/{{row.name}}") {{row.achievements}}
		hr
		div.guess-section Ready to guess?
			div.row(ng-if="submittedGuessesAlready") YOU HAVE ALREADY GUESSED THE FOLLOWING!!!
				div.row
					div.col-xs-6 By Player
						div.row(ng-repeat="p in players")
							div.col-xs-12
								span(ng-class="{'red-team' : guessedClass(old_guessed_players[p])=='red-team', 'village-team' : guessedClass(old_guessed_players[p])=='village-team', 'blue-team' : guessedClass(old_guessed_players[p])=='blue-team', 'werewolf-team' : guessedClass(old_guessed_players[p])=='werewolf-team'}")
									|{{p}} - {{old_guessed_players[p]}}
					div.col-xs-6 Roles
						div.row(ng-repeat="b in blues")
							div.col-xs-12
								span(ng-class="{'blue-team' : old_guessed_roles[b.name] != 'None'}")
									|{{b.name}} - {{old_guessed_roles[b.name]}}
						div.row(ng-repeat="r in reds")
							div.col-xs-12
								span(ng-class="{'red-team' : old_guessed_roles[r.name] != 'None'}")
									|{{r.name}} - {{old_guessed_roles[r.name]}}
						div.row(ng-repeat="w in werewolves")
							div.col-xs-12
								span(ng-class="{'werewolf-team' : old_guessed_roles[w.name] != 'None'}")
									|{{w.name}} - {{old_guessed_roles[w.name]}}
						div.row(ng-repeat="v in village")
							div.col-xs-12
								span(ng-class="{'village-team' : old_guessed_roles[v.name] != 'None'}")
									|{{v.name}} - {{old_guessed_roles[v.name]}}
				button.copy-guesses(ng-click = "copyGuesses()") Copy Guesses!
			div.row
				div.col-xs-6 Players
					div.row(ng-repeat="p in players")
						div.col-xs-12
							span(class="selection") {{p}}
							select(ng-class="{'red-team' : guessedClass(guessed_players[p])=='red-team', 'village-team' : guessedClass(guessed_players[p])=='village-team', 'blue-team' : guessedClass(guessed_players[p])=='blue-team', 'werewolf-team' : guessedClass(guessed_players[p])=='werewolf-team'}", ng-model="guessed_players[p]", ng-change="guess(p, guessed_players[p])")
								option(value="None") None
								option(class="{{guessedClass(r.name)}}", ng-repeat="r in allRoles", value = "{{r.name}}" ng-disabled = "alreadyGuessed(null, r.name)", ng-class= "{'already-guessed': alreadyGuessed(null, r.name)}") {{r.name}}
				div.col-xs-6 Roles
					div.row(ng-repeat="b in blues")
						div.col-xs-12
							span(class="blue-team selection") {{b.name}}
							select(ng-model="guessed_roles[b.name]", ng-change="guess(guessed_roles[b.name], b.name)", ng-class="{'blue-team' : guessed_roles[b.name] != 'None'}")
								option(value="None" class="none-class") None
								option(class='blue-team',ng-repeat="p in players", value = "{{p}}" ng-disabled = "alreadyGuessed(p, null)" , ng-class= "{'already-guessed': alreadyGuessed(p, null)}") {{p}}
					div.row(ng-repeat="r in reds")
						div.col-xs-12
							span(class="red-team selection") {{r.name}}
							select(ng-model="guessed_roles[r.name]", ng-change="guess(guessed_roles[r.name],r.name)" , ng-class="{'red-team' : guessed_roles[r.name] != 'None'}")
								option(value="None" class="none-class") None
								option(class='red-team', ng-repeat="p in players", value = "{{p}}" ng-disabled = "alreadyGuessed(p, null)", ng-class= "{'already-guessed': alreadyGuessed(p, null)}") {{p}}
					div.row(ng-repeat="w in werewolves")
						div.col-xs-12
							span(class="werewolf-team selection") {{w.name}}
							select(ng-model="guessed_roles[w.name]", ng-change="guess(guessed_roles[w.name], w.name)" , ng-class="{'werewolf-team' : guessed_roles[w.name] != 'None'}")
								option(value="None" class="none-class") None
								option(class='werewolf-team', ng-repeat="p in players", value = "{{p}}" ng-disabled = "alreadyGuessed(p, null)", ng-class= "{'already-guessed': alreadyGuessed(p, null)}") {{p}}
					div.row(ng-repeat="v in village")
						div.col-xs-12
							span(class="village-team selection") {{v.name}}
							select(ng-model="guessed_roles[v.name]", ng-change="guess(guessed_roles[v.name], v.name)" , ng-class="{'village-team' : guessed_roles[v.name] != 'None'}")
								option(value="None" class="none-class") None
								option(class='village-team', ng-repeat="p in players", value = "{{p}}" ng-disabled = "alreadyGuessed(p, null)", ng-class= "{'already-guessed': alreadyGuessed(p, null)}") {{p}}
		button.guess-section-2(ng-click = "submitGuesses()") Submit Guesses!

link(rel='stylesheet', href='/css/realminigame.css')