doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/css/sidebar.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
		//-script(src='/js/js.js')
		script(src='https://code.jquery.com/jquery-1.11.2.min.js')
		script(src='https://code.jquery.com/jquery-migrate-1.2.1.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js')
		script(src='https://code.angularjs.org/1.3.14/angular-animate.js')
		script(src='https://code.angularjs.org/1.3.14/angular-sanitize.js')
		script(src='https://code.angularjs.org/1.3.14/angular-resource.js')
		script(src='https://code.angularjs.org/1.3.14/angular-route.js')
		script(src='https://code.angularjs.org/1.3.14/angular-cookies.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.1.2/angular-strap.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.1.2/angular-strap.tpl.min.js')
		script(src='/js/ng-joyride/ng-joyride.js')
		link(rel='stylesheet', href='/css/ng-joyride/ng-joyride.css')


		script(src='/js/bracket.js')
		script(src='/js/nonangular/sidebar.js')
		script(src='/js/bracketRoutes.js')
		script(src='/js/controllers/BoxCtrl.js')
		script(src='/js/controllers/BoxCtrlAngular.js')
		script(src='/js/services/BoxService.js')
		script(src='/js/controllers/BracketCtrl.js')
		script(src='/js/services/BracketService.js')
		script(src='/js/controllers/MiniGameCtrl.js')
		script(src='/js/services/MiniGameService.js')
		script(src='/js/controllers/MainCtrl.js')
		script(src='/js/controllers/SideBarCtrl.js')
		script(src='/js/controllers/MainPageCtrl.js')
		script(src='/js/controllers/BracketCtrlAngular.js')
		script(src='/js/controllers/NavBarCtrl.js')

		script(src='/js/angular-bootstrap-tour/bootstrap-tour.js')
		script(src='/js/angular-bootstrap-tour/angular-bootstrap-tour.js')
		link(rel='stylesheet', href='/css/angular-boostrap-tour/bootstrap-tour.css')

		script(src='/js/angular-modal-service/angular-modal-service.js')
		script(src='/js/message-center/message-center.js')
		script(src='/js/ngStorage.js')
		script(src='/js/dashboard.min.js')
		script(src='/js/ui-bootstrap-tpls-0.12.1.min.js')
		script(src='/js/smart-table/smart-table.js')


		base(href="/")
	body(ng-app="bracketApp")

		div#page-wrapper.active
			nav(class="navbar navbar-default navbar-fixed-top" ng-controller="NavBarController as sidebar")
				div.container
					div.navbar-header {{name}}
					div#navbar.navbar-collapse.collapse
						ul.nav.navbar-nav.navbar-right
							li
								span(class="glyphicon glyphicon-question-sign", ng-click="startTutorial()")
									a(href='') Start Tutotirla
							li
								a(href="/" ng-if="isLoggedIn" ng-click='logOut()') Logout


			// Sidebar
			#sidebar-wrapper.sidebar(ng-controller="SideBarController as sidebar")
				div#sidebar(ng-if="isLoggedIn")
					#row
						div(collapse-width='isCollapsed', class="column column_1 collapse")
							ul.sidebar
								li.sidebar-welcome Welcome Luke
								li.sidebar-title#bracket Bracket
								li.sidebar-list Your Standings
								li.sidebar-list Scoreboard
								li.sidebar-title#box Box
								li.sidebar-list Your Standings
								li.sidebar-title#minigame MiniGame
								li.sidebar-list ???
								li.sidebar-title#achievements Achievements
								li.sidebar-list Total achievements:
								li.sidebar-list Resistance Achievements:
								li.sidebar-list TS Achievements:
					ul.nav.nav-tabs.nav-stacked.col-md-2.controls
						li.ng-scope
							span.menu-icon.glyphicon.glyphicon-transfer(ng-click='isCollapsed = !isCollapsed')
						li(ng-class='tabClass(tab)', ng-repeat='tab in tabs')
							a(href='{{tab.link}}', ng-click='setSelectedTab(tab)', outer-tab, align-to='{{tab.alignTo}}', make-color = '{{tab.myColor}}')
								span.menu-icon(class="{{tab.class}}")
			div#page-content-wrapper
				div.page-content.inset
					div(ng-view='')

