doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/css/sidebar.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
		//-script(src='/js/js.js')
		script(src='https://code.jquery.com/jquery-1.11.2.min.js')
		script(src='https://code.jquery.com/jquery-migrate-1.2.1.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js')
		script(src='https://code.angularjs.org/1.3.14/angular-animate.js')
		script(src='https://code.angularjs.org/1.3.14/angular-sanitize.js')
		script(src='https://code.angularjs.org/1.3.14/angular-resource.js')
		script(src='https://code.angularjs.org/1.3.14/angular-route.js')
		script(src='https://code.angularjs.org/1.3.14/angular-cookies.js')
		script(src='/js/angular-strap/angular-strap.js')
		script(src='/js/angular-strap/angular-strap.tpl.min.js')
		script(src='/js/ng-joyride/ng-joyride.js')
		link(rel='stylesheet', href='/css/ng-joyride/ng-joyride.css')
		link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
		link(rel='stylesheet', href="/css/octicons/octicons.css")
		link(rel='stylesheet', href="/css/custom/style.css")
		//link(rel='stylesheet', href="http://i.icomoon.io/public/temp/be4dbfc1ac/UntitledProject/style.css")

		script(src='/js/bracket.js')
		script(src='/js/nonangular/sidebar.js')
		script(src='/js/bracketRoutes.js')
		//script(src='/js/controllers/BoxCtrl.js')
		script(src='/js/controllers/BoxCtrlAngular.js')
		//script(src='/js/services/BoxService.js')
		//script(src='/js/controllers/BracketCtrl.js')
		//script(src='/js/services/BracketService.js')
		script(src='/js/controllers/AchievementCtrl.js')
		//script(src='/js/services/AchievementService.js')
		script(src='/js/controllers/MainCtrl.js')
		script(src='/js/controllers/SideBarCtrl.js')
		script(src='/js/controllers/MainPageCtrl.js')
		script(src='/js/controllers/BracketCtrlAngular.js')
		script(src='/js/controllers/OfficialBracketCtrlAngular.js')
		script(src='/js/controllers/NavBarCtrl.js')

		//script(src='/js/angular-bootstrap-tour/bootstrap-tour.js')
		//script(src='/js/angular-bootstrap-tour/angular-bootstrap-tour.js')
		//link(rel='stylesheet', href='/css/angular-boostrap-tour/bootstrap-tour.css')

		//script(src='/js/angular-modal-service/angular-modal-service.js')
		//script(src='/js/message-center/message-center.js')
		script(src='/js/ngStorage.js')
		script(src='/js/dashboard.min.js')
		script(src='/js/ui-bootstrap-tpls-0.12.1.min.js')
		script(src='/js/smart-table/smart-table.js')


		base(href="/")
	body(ng-app="bracketApp")
		div#page-wrapper.active
			nav(class="navbar navbar-default navbar-fixed-top" ng-controller="NavBarController as sidebar")
				div.container
					div.navbar-header(style="padding-top: 10px;")
						a(href="/")
							span(class="glyphicon glyphicon-home navbar-img")
							span(class="nav-link") {{name}} - Welcome
							span(ng-if="!isLoggedIn") ! Please login!
							span(ng-if="isLoggedIn") &nbsp{{user}}!
					div#navbar.navbar-collapse.collapse(ng-if="isLoggedIn")
						ul.nav.navbar-nav.navbar-right(style="padding-top: 10px;")
							li(ng-show="brackets_opened")
								span(class="glyphicon glyphicon-question-sign navbar-img", ng-click="startTutorial()" )
									a(href='') Restart Tutorial
									|&nbsp
									|&nbsp
							li
								span(class="glyphicon glyphicon-log-out navbar-img" )
									a(href="/" ng-click='logOut()') Logout

			// Sidebar
			#sidebar-wrapper.sidebar(ng-controller="SideBarController as sidebar")
				div#sidebar(ng-if="isLoggedIn")
					div(collapse-width='isCollapsed', class="column column_1 collapse")
						ul.sidebar
							li.sidebar-title#bracket
								a(href="/bracket-angular")
									span(class="icon-bracket" style="font-size:large;")
									span &nbspGo to the Bracket
							li.sidebar-list
								span(ng-show="!brackets_opened") {{getBracketStandings()}}
								span(ng-show="brackets_opened") -- Score After Brackets Close --
							li.sidebar-list
								span Top 3 Places
							li.sidebar-list
								span(ng-show="!brackets_opened") {{getMiniScoreboard(1)}}
								span(ng-show="brackets_opened") -- When Brackets are Closed --
							li.sidebar-list
								span(ng-show="!brackets_opened") {{getMiniScoreboard(2)}}
								span(ng-show="brackets_opened") -- When Brackets are Closed --
							li.sidebar-list
								span(ng-show="!brackets_opened") {{getMiniScoreboard(3)}}
								span(ng-show="brackets_opened") -- When Brackets are Closed --
							li.sidebar-title#box
								a(href="/box-angular")
									span(class="icon-boxes" style="font-size:large;")
									span &nbspGo to the Box
							li.sidebar-list
								span(ng-if="!brackets_opened" ng-bind-html="getBoxStandings()")
								span(ng-show="brackets_opened") -- Score After Brackets Close --
							li.sidebar-title#achievements
								a(href="/achievements")
									span(class="fa fa-trophy" style="font-size:large;")
									span &nbspGo to Achievements
							li.sidebar-list
								span(ng-if="!brackets_opened" ng-bind-html="getAchievementStats()")
								span(ng-show="brackets_opened") -- Score After Brackets Close --
				div.sidebar-buttons(ng-if="isLoggedIn")
					ul.nav.nav-tabs.nav-stacked.col-md-2.controls
						li.ng-scope
							span.menu-icon.glyphicon.glyphicon-transfer(ng-click='toggleCollapse()')
						li(class='{{tabClass(tab)}}', ng-repeat='tab in tabs')
							div(class="{{tab.label}}" , outer-tab, align-to='{{tab.alignTo}}', make-color = '{{tab.myColor}}')
								a(href='{{tab.link}}', ng-click='setSelectedTab(tab)')
									span.menu-icon(class="{{tab.class}}")
			div#page-content-wrapper
				div.page-content.inset
					div(ng-view='')

