.round{
    float:left;
    width:100px;
}
.firstTeam, .secondTeam{
    border-bottom:1px solid #ccc;
    position:relative;
}
.firstSpacer-left, .secondTeam-left{
    border-right:1px solid #ccc;
}

.firstSpacer-right, .secondTeam-right{
    border-left:1px solid #ccc;
}
.team{
    position:absolute;
    bottom: 4px;
    left: 8px;
}

.team-selectable{
    background-color: #c4d8e2;
    color: #0057A8;
    cursor: pointer;
}

.team-chosen-to-lose{
    background-color: #f8f8ff;
    color: lightgray;
    cursor: pointer;
}

.region-1 > *, .region-3 > *{
    background-color:black;
    float:right;
}
.championship-bracket{
    height:200px;
    background-color:gold;
    clear: both;
}
.buffer{
    height:100px;
    background-color:palevioletred;
    clear: both;
}

.region-0 > *, .region-2 > *{
    background-color:greenyellow;
    float:left;
}

.region-2{
    clear: both;
}

.spacer{

}
.final-four{

    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.region{
    position:relative;
}

.chosen-champion{
    background-color: darkkhaki;
}

.pickCounter{
    background-color: palevioletred;
    position: absolute;
    float: right;
    right: 200px;
    font-size: 400%;
}

.team-names {
    background: gray;
    text-align: center;
}
.rainbow {
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #ff0000), color-stop(0.6, #22f), color-stop(0.8, #2f2));
    color:transparent;
    -webkit-background-clip: text;
}
.finals-team {
    background: ivory;
    display: inline-block;
    margin:0 7.5px;
    text-align: left;
}
/* Fix for Bootstrap 3 with Angular UI Bootstrap */


/* Custom dialog/modal headers */

.dialog-header-error { background-color: #d2322d; }
.dialog-header-wait { background-color: #428bca; }
.dialog-header-notify { background-color: #eeeeee; }
.dialog-header-confirm { background-color: #333333; }
.dialog-header-error span, .dialog-header-error h4,
.dialog-header-wait span, .dialog-header-wait h4,
.dialog-header-confirm span, .dialog-header-confirm h4 { color: #ffffff; }

/* Ease Display */

.pad { padding: 25px; }

