.round{
    float:left;
    width:120px;
}
.firstTeam, .secondTeam{
    border-bottom:1px solid #ccc;
    position:relative;
}
.firstSpacer-left, .secondTeam-left{
    border-right:1px solid #ccc;
}

.firstSpacer-right, .secondTeam-right{
    border-left:1px solid #ccc;
}
.team{
    position:absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    font-size: 12px;
    display: inline-block;
}

.team-selectable{
    background-color: #c4d8e2;
    color: #0057A8;
    cursor: pointer;
}

.team-chosen-to-lose{
    background-color: #f8f8ff;
    color: lightgray;
    cursor: pointer;
}

.region-1 > *, .region-3 > *{
    float:right;
}

.region-3 > .round-0, .region-1 > .round-0{
    border-right: 1px solid;
}

.championship-bracket{
    height:200px;
    clear: both;
}
.buffer{
    height:100px;
    border-left: 1px solid;
    border-right: 1px solid;
    clear: both;
}
.region-0 > *, .region-2 > *{
    float:left;
}
.region-0 > .round-0, .region-2 > .round-0{
    border-left: 1px solid;
}
.region-2{
    clear: both;
}

.spacer{

}
.final-four{

    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

.region{
    position:relative;
}

.final-score{
    width: 50%;
    margin: 0 auto;
    left: 50%
    text-align: center;
}

.chosen-champion{
    background-color: darkkhaki;
}

.pickCounter{
    border: 1px solid;
    float: right;
    right: 200px;
    font-size: 200%;
}
.rightStuff{
    position:absolute;
    float: right;
    right: 100px;
}
.your-score{
    font-size: 200%;
    border: 1px solid;
}

.glyphicon-tag, .icon-dog, .icon-cat{
    float: right;
    padding-right: 3px;
    font-size: 120%;
}

.see-another-bracket{
    border: 1px solid;
}

.see-another-bracket > ul > li{
    text-align: left;
    list-style-type: none;
    display: block;
}

.rainbow {
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #ff0000), color-stop(0.6, #22f), color-stop(0.8, #2f2));
    color:transparent;
    -webkit-background-clip: text;
}
.finals-team {
    background: ivory;
    display: inline-block;
    text-align: left;
}
.finals-team-1 {
    right: 50%;
}
.finals-team-2 {
    left: 50%;
}
.finals-team-name{
    text-align: center;
}
/* Fix for Bootstrap 3 with Angular UI Bootstrap */


/* Custom dialog/modal headers */

.dialog-header-error { background-color: #d2322d; }
.dialog-header-wait { background-color: #428bca; }
.dialog-header-notify { background-color: #eeeeee; }
.dialog-header-confirm { background-color: #333333; }
.dialog-header-error span, .dialog-header-error h4,
.dialog-header-wait span, .dialog-header-wait h4,
.dialog-header-confirm span, .dialog-header-confirm h4 { color: #ffffff; }

/* Ease Display */

.pad { padding: 25px; }


.official-team{
    position:absolute;
    bottom: 17px;
    left: 0px;
}

.official-incorrect-team{
    background-color: #FFEF45;
    color: #827D46;
}

.correct-team{
    background-color: #86E359;
    color: #1E3B10;
}

.incorrect-team, .incorrect-team > *{
    background-color: #FB5F63;
    color: #5B0004;
    text-decoration: line-through;
}

.incorrect-team-championship, .incorrect-team-championship > *{
    background-color: #FB5F63;
    color: #5B0004;
    text-decoration: line-through;
    border-top:none;
}

.team-chosen{
    background-color: #c4d8e2;
    color: #0057A8;
}

.team-not-chosen{
    background-color: #f8f8ff;
    color: lightgray;
}

.team-name{

    float: left;
}
.team-score {
    display: inline-block;
    float: right;
}

.team-seed {
    display: inline-block;
    padding-right: 10px;
    float: left;
}