.moneyboard-row{
  color: blue;
}

.final-moneyboard-row{
    color: red;
    font-weight: bolder;
}


#brackets-opened-tag{
  padding: 10px;
}

.didnt-pay{
    text-decoration: line-through;
    color: pink;
    background-color: maroon !important;
}