.blue-team{
    background-color: #c4d8e2;
    color: #0057A8;
}

.red-team{
    background-color: #FB5F63;
    color: #5B0004;
}

.werewolf-team{
    background-color: #86E359;
    color: #1E3B10;
}

.village-team{
    background-color: #FFEF45;
    color: #827D46;

}

.team-choice{
    cursor: pointer;
}

.is-me{
    font-weight: bolder;
    font-size: 200%;
    border: 2px solid;
}

.tooltip-inner {
    max-width: 200px;
    /* If max-width does not work, try using width instead */
    width: 200px;
}

.selection{
    margin-right: 15px;
}

.already-guessed{
    text-decoration: line-through;
    background-color: #ccc;
    color: #222;
}

.none-class{
    background-color: white;
}