body {
    padding-top: 51px;
}
.nav-tabs{
    border-bottom:none !important;
}
.collapsing-width {
    position: relative;
    overflow: hidden;
    -webkit-transition: width 0.35s ease;
    -moz-transition: width 0.35s ease;
    -o-transition: width 0.35s ease;
    transition: width 0.35s ease;
}
.collapse {
    display: block!important;
}
.custom-collapsed{
    border: none!important;
}
.column {
    background-color:lightgrey;
    border: solid 5px darkgrey;
    border-radius: 3px;
    width:33%;
    float:left;
}

#row{
    width: 200px;
}



.sidebar{
    border-radius: 25px;
    white-space: nowrap;
}

.sidebar-title{
    border-bottom: 2px solid;
    border-top: 2px solid;
}

.bracket{
    position: absolute;
    left: 100px;
    top: 150px;
}

.box{
    position: absolute;
    left: 200px;
    top: 150px;
}

.minigame{
    position: absolute;
    left: 300px;
    top: 150px;
}

.links{
    float: left;
}