body {
    padding-top: 51px;
}
.nav-tabs{
    border-bottom:none !important;
    float:left;
    display: inline-block;
}
.collapsing-width {
    position: relative;
    overflow: hidden;
    -webkit-transition: width 0.35s ease;
    -moz-transition: width 0.35s ease;
    -o-transition: width 0.35s ease;
    transition: width 0.35s ease;
     padding: 10px 15px;
}
.collapse {
    display: block!important;
}
.custom-collapsed{
    border: none!important;
}
.column {
    background-color:#AEC6CF;
    border-radius: 0 20px 20px 0;
    float:left;
    line-height: 1.5em;
}

#row{
    width: 200px;
}



.sidebar{
    white-space: nowrap;
}
.sidebar-buttons{
 float:left;
}

#sidebar-wrapper{
    display: inline;
    position: absolute;
    white-space: nowrap;
}

#sidebar{
    float:left;
}

.sidebar-title{
    padding: 10px 0 5px;
}

.bracket{
    position: absolute;
    left: 100px;
    top: 150px;
}

.box{
    position: absolute;
    left: 200px;
    top: 150px;
}

.minigame{
    position: absolute;
    left: 300px;
    top: 150px;
}

.links{
    float: left;
}

ul.sidebar > li{
    list-style-type: none;
    display: block;
    text-align: left;
}

ul.sidebar{
  padding: 2px;
}